apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- namespace.yaml
namespace: nodejs
images:
- name: nodejs-aks-app
  newName: miticv/nodejs-aks-app
  newTag: 7120aac9ad15424131f0632047c7149392b97a44
